---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url(/UKGamesIndustrySlack/assets/UGGamesIndustrySlackBannerForWeb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  height: auto;
  min-height: 400px
  width: 100%;
  background-size: auto 100%
}
