---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url(/UKGamesIndustrySlack/assets/UGGamesIndustrySlackBannerForWeb.png);
  background-color: #000000;
  height: auto;
  width: 100%;
}
